TFG.code-workspace
.idea

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Base de datos
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Archivos subidos
#uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db